.signin-panel {
    z-index: 2;
    position: absolute;
  
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.6);
    text-align: center;
    padding: 20px 50px 50px 50px;
    border-radius: 5px;
    
 }
 
 .signin-panel h5 {
     color: #eb8334;
 }
 
 .btn {
     margin-top: 30px;
     width: 100%;
 }
 .input-field {
     margin-top: 30px;
     margin-bottom: 0px;
    
 }

 .back {
     margin-top: 0px !important;
     width: 30px !important;
     height: 30px;
     border-radius: 15px;
     border: none;
     color: rgb(168, 160, 160);
     background-color: white;
     border: 1px solid rgb(168, 160, 160);
     display: block;
     margin-left: -35px;
    
 }